#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.box{
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #202f4c;
}

.box-button{
  /* display: block; */
  width: 90%;
  background-color: #415a77;
  margin-bottom: 10px;
}
